.outer-content-wrapper {
	// max-width: 1500px;
	max-width: 1310px;
	margin: 0 auto;
	width: 100%;
	height: inherit;
	position: relative;
	transition: 240ms ease;
}

@media only screen and (max-width: 1600px) {
	.outer-content-wrapper {
		// max-width: 1050px !important;
		// padding-top: 0px !important;
		// padding: 10px;
	}
}
