header {
	position: fixed;
	width: calc(100% - var(--sideNavWidth));
	left: var(--sideNavWidth);
	top: 0;
	text-align: center;
	height: var(--headerHeight);
	z-index: 100;
	background-color: #ffffff;
	// padding: 0 1.5em;
	box-shadow: var(--boxShadow);
	border-bottom: var(--borderGraySecondary);
	.header-inner-wrapper {
		height: inherit;
		width: 100%;
		display: flex;
		justify-content: flex-end;

		button {
			background-color: transparent;
			border: none;
		}
		#logo {
			display: flex;
			justify-content: center;
			align-items: center;
			svg {
				display: inline-block;
				height: 28px;
				color: #ffffff;
				fill: #ffffff;
			}
		}

		.user-actions-container {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			#header-notification-button {
				// position: absolute;
				width: 150px;
				display: inline-block;
			}
			#header-profile-button {
				// top: 50%;
				// transform: translateY(-50%);
				width: 220px;
				display: inline-block;
			}
		}
	}

	.icon-wrapper {
		padding: 14px;
		svg {
			display: block;
			height: 22px;
			color: #ffffff;
		}
	}
	.hamburger-icon-wrapper {
		display: flex;
		align-items: center;
		.hamburger-react {
			display: inline-block;
			height: 16px;
			color: var(--bluePrimary);
			fill: var(--bluePrimary);
		}
		svg {
			display: inline-block;
			height: 20px;
			color: var(--bluePrimary);
			fill: var(--bluePrimary);
		}
	}
	.test-btn {
		position: absolute;
		font-size: 12px;
		top: 15px;
		right: 15px;
	}
}

@media only screen and (min-width: 600px) {
	header {
		padding: 0 1.5em !important;
	}
}

@media only screen and (max-width: 600px) {
	header {
		left: 0;
		width: 100%;
		#logo-wrapper {
			position: relative;
			display: flex;
			align-items: center;
			padding: 0 15px;
			svg {
				height: 16px;
			}
		}
		.header-inner-wrapper {
			height: inherit;
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
	}
}
