.nav-links-container {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	padding: 16px;
	#nav-links__general-navigation {
		flex-direction: column;
		display: flex;
		// justify-content: space-between;
		flex-grow: 1;
		#secondary-links {
			border-top: 1px solid rgba(255, 255, 255, 0.235);
			margin-bottom: 20px;
		}
	}
	#dashboard {
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid var(--graySecondary);
	}
	li {
		// width: 100%;
		list-style: none;
		text-align: center;
		width: 100%;
		margin-bottom: 10px;
		// padding: 0 30px;
		a {
			width: 100%;
			padding: 11px 0;
			font-size: 15px;
			display: flex;
			padding-left: 30px;
			// text-transform: uppercase;
			// font-weight: 500;
			align-items: center;
			text-decoration: none;
			// letter-spacing: 1px;
			margin: 0 auto;
			color: #4f566b;
			// display: block;
			.icon-wrapper {
				position: relative;
				width: 24px;
				height: 24px;
				margin-right: 8px;
				display: flex;
				align-items: center;
				svg {
					display: block;
					margin: 0 auto;
					// width: 14px;
					// fill: #4f566b;
					fill: #191f36;
					height: 100%;
					// margin-bottom: 4px;
				}
			}

			&:hover {
				background-color: #ebf0ff;
			}
		}
		.nav-link__active {
			position: relative;
			transition: 250ms;
			font-weight: 600;
			// background-color: var(--purplePrimary);
			background: #e1e5ec;
			background: linear-gradient(90deg, #ebf0ff 0%, #191f361f 100%);
			&:after {
				content: '';
				height: calc(100% + 2px);
				width: 5px;
				background: #191f36;
				position: absolute;
				top: -1px;
				left: 0px;
				border-radius: 40px;
			}
		}
	}

	.nav-links {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}

@media only screen and (max-width: 600px) {
	.nav-links {
		display: none;
	}
}
