@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Jost:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--grayPrimary: #f7fafc;
	--graySecondary: #e3e8ee;
	--borderGraySecondary: 1px solid #e3e8ee;
	--blackPrimary: #222222;
	--blackSeconday: #191919;
	--blackAccent: #2c333a;
	--blackAccentSecondary: #4a4f55;
	--bluePrimary: #191f36;
	--blueSecondary: #4f566b;
	--blackBorder: #272a2e;
	--pageMaxWidth: 1200px;
	--boxShadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.085);
	--boxShadow2: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
	--boxShadow3: rgba(0, 0, 0, 0.1) 0px 2px 3px 0px;
	--sideNavWidth: 250px;
	--headerHeight: 52px;
	--jost: 'Jost', sans-serif;
	--rubik: 'Rubik', sans-serif;
}

html {
	height: 100%;
}

body {
	height: 100vh;
	/* background-color: #bdbdbd; */
	background-color: #ffffff;
	color: var(--blackPrimary);
	overflow-y: scroll;
	line-height: ;
	font-weight: 400;
}

button {
	background-color: inherit;
	border: none;
	color: inherit;
}

body,
button,
span,
p {
	font-family: var(--jost);
}

h1,
h2,
h3 {
	font-family: var(--rubik);
}

h1 {
	font-weight: 600;
	letter-spacing: 1px;
	margin-top: 20px;
	line-height: 36px;
}

h2 {
	font-weight: 400;
}

h3 {
	font-weight: 800;
}
